<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Picture Show</title>
    <link rel="stylesheet" href="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="http://cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="../css/jquery.js"></script>
    <link href="../css/css.css" rel="stylesheet" type="text/css" />
</head>
<body>
<div class="show-area">
    <span class="label label-success positive" id="positive">positive</span>
    <span class="label label-info negative" id="negative">negative</span>
    <ul id="myTab" class="nav nav-pills">
        <li class="active">
            <a href="#type1" data-toggle="tab">
                sjjy
            </a>
        </li>
        <li><a href="#type2" data-toggle="tab">renren</a></li>
        <li><a href="#type3" data-toggle="tab">chongqing</a></li>
        <li><a href="#type4" data-toggle="tab">badoo</a></li>
    </ul>

    <div id="myTabContent" class="tab-content">
        <div class="tab-pane fade in active row" id="type1">
        </div>
        <div class="tab-pane fade" id="type2">

        </div>
        <div class="tab-pane fade" id="type3">

        </div>
        <div class="tab-pane fade" id="type4">

        </div>

    </div>
</div>

</body>
<script>

//    $(document).ready(function(){
//        $('.show-area').scroll(function(event) {
//            var top = $('.show-area').scrollTop();
//            //console.log('top:'+top);
//        })
//    })
    setInterval(function () {
        var xhr = new XMLHttpRequest();
        xhr.open('GET','/state', true);
        xhr.onreadystatechange = function() {
            if (xhr.readyState == 4 && xhr.status == 200) {
                var rowarr=xhr.responseText;
                console.log(rowarr);
                rowarr=rowarr.slice(1,rowarr.length-1);
                rowarr=rowarr.split(",");

                var arr = rowarr.filter(function (element, index, self) {
                    return self.indexOf(element) === index;
                });

                arr.forEach()   //先区分文件夹，然后根据位置更新这个节点。更新完之后再清空changeState这个数组。当然这就需要再一个rest请求

                console.log(arr);
            }
        }
        xhr.setRequestHeader("Content-Type", "application/json ;charset=utf-8");
        xhr.setRequestHeader("Accept", "application/json");
        xhr.setRequestHeader("Access-Control-Allow-Origin", "http://localhost");
        xhr.send();
    },1000);
//    document.getElementById('positive').addEventListener("click",function () {
//        document.getElementsByClassName('positive').style.display = 'none';
//    })

//    function insertData2Dom(data, container){
//        var html = "<div>"+""safsdf
//        $(container).append(html)
//    }
//
//var sock = new WebSocket(url)
//    sock.addEventListener("", function(e){
//        e.data
//        insertData2Dom(data, "#type1")
//    })


    window.onload=function () {

        getpos();
//        var pos=document.cookie.split(";");
//        for(var i=0;i<pos.length;i++) {
//            if(pos[i].trim().charAt(0)=='a'){
//                var position=pos[i].slice(pos[i].indexOf('=')+1);
//                var parent = document.getElementById('type1');
//                var insert = document.createElement('div');
//                insert.className = 'col-sm-12 col-md-6';
//                insert.innerHTML = '<a href="#" class="thumbnail"><img src="../' + position + '" alt="通用的占位符缩略图" data-pos="' + i + '"></a><div class="caption"><h3>可以填东西</h3></div>'
//                parent.appendChild(insert);
//
//
//                }
//            }


        }
    document.getElementById("type1").addEventListener("click",function(e) {
        //console.log(e.target);
        // 检查事件源e.targe是否为Li
        if(e.target && e.target.nodeName.toUpperCase() == "BUTTON") {
            //console.log(e.target.getAttribute('data-pos'));
            //在dom中删除节点
            if(e.target.innerHTML=='cluster') {
                var count=e.target.parentNode.getAttribute("click-count");
                e.target.parentNode.setAttribute('click-count',++count);
                //var removenode = e.target.parentNode;
                //document.getElementById('typ1').removeChild(e.target);
                //document.getElementById("type1").removeChild(removenode);
                //发送ajax，在后台删除节点
                deleteitem(e.target.getAttribute('data-pos'),count);
                }else if(e.target.innerHTML=='check'){
                var removenode = e.target.parentNode;
                //document.getElementById('typ1').removeChild(e.target);
                document.getElementById("type1").removeChild(removenode);
                //发送ajax，在后台删除节点
                //console.log(e.target.getAttribute('data-pos'));
                checkitem(e.target.getAttribute('data-pos'));
                }else if(e.target.innerHTML=='merge'){
                //var removenode = e.target.parentNode;
                //document.getElementById('typ1').removeChild(e.target);
                //document.getElementById("type4").removeChild(removenode);
                //发送ajax，在后台删除节点
                mergeitem(e.target.getAttribute('data-pos'));
            }else if(e.target.innerHTML=='dirty'){
                var removenode = e.target.parentNode;
                //document.getElementById('typ1').removeChild(e.target);
                document.getElementById("type1").removeChild(removenode);
                //发送ajax，在后台删除节点
                dirtyitem(e.target.getAttribute('data-pos'));
            }
             }
        });

    document.getElementById("type2").addEventListener("click",function(e) {
        //console.log(e.target);
        // 检查事件源e.targe是否为Li
        if(e.target && e.target.nodeName.toUpperCase() == "BUTTON") {
            //console.log(e.target.getAttribute('data-pos'));
            if(e.target.innerHTML=='cluster') {
                var count=e.target.parentNode.getAttribute("click-count");
                e.target.parentNode.setAttribute('click-count',++count);
                //var removenode = e.target.parentNode;
                //document.getElementById('typ1').removeChild(e.target);
                //document.getElementById("type2").removeChild(removenode);
                //发送ajax，在后台删除节点
                deleteitem(e.target.getAttribute('data-pos'),count);
            }else if(e.target.innerHTML=='check'){
                var removenode = e.target.parentNode;
                //document.getElementById('typ1').removeChild(e.target);
                document.getElementById("type2").removeChild(removenode);
                //发送ajax，在后台删除节点
                checkitem(e.target.getAttribute('data-pos'));
            }else if(e.target.innerHTML=='merge'){
                //var removenode = e.target.parentNode;
                //document.getElementById('typ1').removeChild(e.target);
                //document.getElementById("type4").removeChild(removenode);
                //发送ajax，在后台删除节点
                mergeitem(e.target.getAttribute('data-pos'));
            }else if(e.target.innerHTML=='dirty'){
                var removenode = e.target.parentNode;
                //document.getElementById('typ1').removeChild(e.target);
                document.getElementById("type2").removeChild(removenode);
                //发送ajax，在后台删除节点
                dirtyitem(e.target.getAttribute('data-pos'));
            }
        }
    });

    document.getElementById("type3").addEventListener("click",function(e) {
        //console.log(e.target);
        // 检查事件源e.targe是否为Li
        if(e.target && e.target.nodeName.toUpperCase() == "BUTTON") {
            //console.log(e.target.getAttribute('data-pos'));
            if(e.target.innerHTML=='cluster') {
                var count=e.target.parentNode.getAttribute("click-count");
                e.target.parentNode.setAttribute('click-count',++count);
                //var removenode = e.target.parentNode;
                //document.getElementById('typ1').removeChild(e.target);
               // document.getElementById("type3").removeChild(removenode);
                //发送ajax，在后台删除节点
                deleteitem(e.target.getAttribute('data-pos'),count);
            }else if(e.target.innerHTML=='check'){
                var removenode = e.target.parentNode;
                //document.getElementById('typ1').removeChild(e.target);
                document.getElementById("type3").removeChild(removenode);
                //发送ajax，在后台删除节点
                //console.log(e.target.getAttribute('data-pos'));
                checkitem(e.target.getAttribute('data-pos'));
            }else if(e.target.innerHTML=='merge'){
                var removenode = e.target.parentNode;
                //document.getElementById('typ1').removeChild(e.target);
                //document.getElementById("type4").removeChild(removenode);
                //发送ajax，在后台删除节点
                mergeitem(e.target.getAttribute('data-pos'));
            }else if(e.target.innerHTML=='dirty'){
                var removenode = e.target.parentNode;
                //document.getElementById('typ1').removeChild(e.target);
                document.getElementById("type3").removeChild(removenode);
                //发送ajax，在后台删除节点
                dirtyitem(e.target.getAttribute('data-pos'));
            }
        }
    });

    document.getElementById("type4").addEventListener("click",function(e) {
        //console.log(e.target);
        // 检查事件源e.targe是否为Li
        if(e.target && e.target.nodeName.toUpperCase() == "BUTTON") {
            //console.log(e.target.getAttribute('data-pos'));
            if(e.target.innerHTML=='cluster') {
                var count=e.target.parentNode.getAttribute("click-count");
                e.target.parentNode.setAttribute('click-count',++count);
                //var removenode = e.target.parentNode;
                //document.getElementById('typ1').removeChild(e.target);
                //document.getElementById("type4").removeChild(removenode);
                //发送ajax，在后台删除节点
                deleteitem(e.target.getAttribute('data-pos'),count);
            }else if(e.target.innerHTML=='check'){
                var removenode = e.target.parentNode;
                //document.getElementById('typ1').removeChild(e.target);
                document.getElementById("type4").removeChild(removenode);
                //发送ajax，在后台删除节点
                checkitem(e.target.getAttribute('data-pos'));
            }else if(e.target.innerHTML=='merge'){
                //var removenode = e.target.parentNode;
                //document.getElementById('typ1').removeChild(e.target);
                //document.getElementById("type4").removeChild(removenode);
                //发送ajax，在后台删除节点
                mergeitem(e.target.getAttribute('data-pos'));
            }else if(e.target.innerHTML=='dirty'){
                var removenode = e.target.parentNode;
                //document.getElementById('typ1').removeChild(e.target);
                document.getElementById("type4").removeChild(removenode);
                //发送ajax，在后台删除节点
                dirtyitem(e.target.getAttribute('data-pos'));
            }
        }
    });
    


    function deleteitem(x,y) {
        //console.log("xxxx")
        var xhr = new XMLHttpRequest();
        xhr.open('POST','/api?delete=' + x+'&&clickcount='+y, true);
        xhr.onreadystatechange = function() {
            if (xhr.readyState == 4 && xhr.status == 200) {
                console.log('success cluster');
                setTimeout(function () {
                    senddata(x);
                },1000)
            }
        }
        xhr.setRequestHeader("Content-Type", "application/json ;charset=utf-8");
        xhr.setRequestHeader("Accept", "application/json");
        xhr.setRequestHeader("Access-Control-Allow-Origin", "http://localhost");
        xhr.send();

    }
    function senddata(senddata) {
        console.log(senddata);
            var xhr = new XMLHttpRequest();
            xhr.open('POST','/state?state=' + senddata, true);
            xhr.onreadystatechange = function() {
                if (xhr.readyState == 4 && xhr.status == 200) {
                    console.log('success');



                }
            }
            xhr.setRequestHeader("Content-Type", "application/json ;charset=utf-8");
            xhr.setRequestHeader("Accept", "application/json");
            xhr.setRequestHeader("Access-Control-Allow-Origin", "http://localhost");
            xhr.send();
    }
    

    function checkitem(x) {
        var xhr = new XMLHttpRequest();
        xhr.open('POST','/api?check=' + x, true);
        xhr.onreadystatechange = function() {
            if (xhr.readyState == 4 && xhr.status == 200) {
                console.log('success');
            }
        }
        xhr.setRequestHeader("Content-Type", "application/json ;charset=utf-8");
        xhr.setRequestHeader("Accept", "application/json");
        xhr.setRequestHeader("Access-Control-Allow-Origin", "http://localhost");
        xhr.send();
    }


    function mergeitem(x) {
        var xhr = new XMLHttpRequest();
        xhr.open('POST','/api?merge=' + x, true);
        xhr.onreadystatechange = function() {
            if (xhr.readyState == 4 && xhr.status == 200) {
                console.log('success');
            }
        }
        xhr.setRequestHeader("Content-Type", "application/json ;charset=utf-8");
        xhr.setRequestHeader("Accept", "application/json");
        xhr.setRequestHeader("Access-Control-Allow-Origin", "http://localhost");
        xhr.send();
    }

    function dirtyitem(x) {
        var xhr = new XMLHttpRequest();
        xhr.open('POST','/api?dirty=' + x, true);
        xhr.onreadystatechange = function() {
            if (xhr.readyState == 4 && xhr.status == 200) {
                console.log('success');
            }
        }
        xhr.setRequestHeader("Content-Type", "application/json ;charset=utf-8");
        xhr.setRequestHeader("Accept", "application/json");
        xhr.setRequestHeader("Access-Control-Allow-Origin", "http://localhost");
        xhr.send();
    }


    function getpos() {
            var xhr = new XMLHttpRequest();
            xhr.open('GET','/api/getpos',true);
            xhr.onreadystatechange = function () {
                if(xhr.readyState == 4 && xhr.status == 200){
                    var arr=JSON.parse(xhr.responseText).split(",");
                    //console.log(arr[10].charAt(arr[10].indexOf('/')+1));
                    for (var i=0;i<arr.length;i++){
                        if(arr[i].charAt(arr[i].indexOf('/')+1) == 1) {
                            var parent1 = document.getElementById('type1');
                            arr[i] = arr[i].slice(1, arr[i].length - 1);
                            var insert = document.createElement('div');
                            insert.className = 'col-sm-12 col-md-12 positive';
                            insert.innerHTML = '<a href="#" class="thumbnail" ><img src="../' + arr[i] + '" alt="通用的占位符缩略图" ></a><button class="btn btn-primary btn-bottom" data-pos="' + i + '">cluster</button><button class="btn btn-primary btn-bottom" data-pos="' + i + '">check</button>'
                            parent1.appendChild(insert);
                        }else if(arr[i].charAt(arr[i].indexOf('/')+1) == 2){
                            var parent2 = document.getElementById('type2');
                            arr[i] = arr[i].slice(1, arr[i].length - 1);
                            var insert = document.createElement('div');
                            insert.className = 'col-sm-12 col-md-12 positive';
                            insert.innerHTML = '<a href="#" class="thumbnail" ><img src="../' + arr[i] + '" alt="通用的占位符缩略图" ></a><button class="btn btn-primary btn-bottom" data-pos="' + i + '">cluster</button><button class="btn btn-primary btn-bottom" data-pos="' + i + '">check</button>'
                            parent2.appendChild(insert);
                        }else if(arr[i].charAt(arr[i].indexOf('/')+1) == 3){
                            //console.log(i);
                            var parent3 = document.getElementById('type3');
                            arr[i] = arr[i].slice(1, arr[i].length - 1);
                            var insert = document.createElement('div');
                            insert.className = 'col-sm-12 col-md-12 positive';
                            insert.innerHTML = '<a href="#" class="thumbnail" ><img src="../' + arr[i] + '" alt="通用的占位符缩略图" ></a><button class="btn btn-primary btn-bottom" data-pos="' + i + '">cluster</button><button class="btn btn-primary btn-bottom" data-pos="' + i + '">check</button>'
                            parent3.appendChild(insert);
                        }else if(arr[i].charAt(arr[i].indexOf('/')+1) == 4){
                            var parent4 = document.getElementById('type4');
                            arr[i] = arr[i].slice(1, arr[i].length - 1);
                            var insert = document.createElement('div');
                            insert.className = 'col-sm-12 col-md-12 positive';
                            insert.innerHTML = '<a href="#" class="thumbnail" ><img src="../' + arr[i] + '" alt="通用的占位符缩略图" ></a><button class="btn btn-primary btn-bottom" data-pos="' + i + '">cluster</button><button class="btn btn-primary btn-bottom" data-pos="' + i + '">check</button>'
                            parent4.appendChild(insert);
                        }else if(arr[i].charAt(arr[i].indexOf('/')+1) == 5){
                            var parent5 = document.getElementById('type1');
                            arr[i] = arr[i].slice(1, arr[i].length - 1);
                            var insert = document.createElement('div');
                            insert.className = 'col-sm-12 col-md-12 negative';
                            insert.innerHTML = '<a href="#" class="thumbnail" ><img src="../' + arr[i] + '" alt="通用的占位符缩略图" ></a><button class="btn btn-primary btn-bottom" data-pos="' + i + '">dirty</button><button class="btn btn-primary btn-bottom" data-pos="' + i + '">merge</button>'
                            parent5.appendChild(insert);
                        }else if(arr[i].charAt(arr[i].indexOf('/')+1) == 6){
                            var parent6 = document.getElementById('type2');
                            arr[i] = arr[i].slice(1, arr[i].length - 1);
                            var insert = document.createElement('div');
                            insert.className = 'col-sm-12 col-md-12 negative';
                            insert.innerHTML = '<a href="#" class="thumbnail" ><img src="../' + arr[i] + '" alt="通用的占位符缩略图" ></a><button class="btn btn-primary btn-bottom" data-pos="' + i + '">dirty</button><button class="btn btn-primary btn-bottom" data-pos="' + i + '">merge</button>'
                            parent6.appendChild(insert);
                        }else if(arr[i].charAt(arr[i].indexOf('/')+1) == 7){
                            var parent7 = document.getElementById('type3');
                            arr[i] = arr[i].slice(1, arr[i].length - 1);
                            var insert = document.createElement('div');
                            insert.className = 'col-sm-12 col-md-12 negative';
                            insert.innerHTML = '<a href="#" class="thumbnail" ><img src="../' + arr[i] + '" alt="通用的占位符缩略图" ></a><button class="btn btn-primary btn-bottom" data-pos="' + i + '">dirty</button><button class="btn btn-primary btn-bottom" data-pos="' + i + '">merge</button>'
                            parent7.appendChild(insert);
                        }else if(arr[i].charAt(arr[i].indexOf('/')+1) == 8){
                            var parent8 = document.getElementById('type4');
                            arr[i] = arr[i].slice(1, arr[i].length - 1);
                            var insert = document.createElement('div');
                            insert.className = 'col-sm-12 col-md-12 negative';
                            insert.innerHTML = '<a href="#" class="thumbnail" ><img src="../' + arr[i] + '" alt="通用的占位符缩略图" ></a><button class="btn btn-primary btn-bottom" data-pos="' + i + '">dirty</button><button class="btn btn-primary btn-bottom" data-pos="' + i + '">merge</button>'
                            parent8.appendChild(insert);
                        }

                    };

                    $('#positive').click(function () {
                        $('.positive').hide();
                        $('.negative').show();

                    });
                    $('#negative').click(function () {
                        $('.positive').show();
                        $('.negative').hide();

                    })


//                    $('.show-area').scroll(function(event) {
//                        //console.log($('#type1').find("[data-pos='0']").offset().top);
//                        var items = $('#type1').find('.thumbnail');
//                        items.each(function (index, ele) {
//                            var cur = $(this);
//
//                        })
//                        console.log($('#type1').find("[data-pos='3']").offset().top);
//
//                    })



//                    $(window).scroll(function(event) {
//                        /* Act on the event */
//                        var top = $(document).scrollTop(); //滚动条距离顶部的距离
//                        //console.log('top: '+top);
//                        var menu = $('#menu');
//                        var items = $('#content').find(".item"); //使用id筛选快 $('.item')
//
//                        var currentId = "";//当前所在楼层(item) #id
//                        items.each(function(index, el) {
//                            var m = $(this);
//                            var itemTop = m.offset().top;
//                            //console.log('itemTop: '+itemTop);
//                            if(top > itemTop - 200){
//                                currentId = "#" + m.attr('id');
//                            }else{
//                                return false;
//                            }
//                        });
//
//                        //给相应楼层的a设置current, 取消其他链接的current
//                        //console.log('currentId: '+ currentId);
//                        var currentLink = menu.find('.current');
//                        //console.log('currentLink: '+ currentLink.attr('href'))
//                        if(currentId && currentLink.attr('href') != currentId){
//                            //console.log('...');
//                            currentLink.removeClass('current');
//                            menu.find('[href=' + currentId + ']').addClass('current');
//                        }
//
//                    }
                }
            }
        xhr.setRequestHeader("Content-Type", "application/json ;charset=utf-8");
        xhr.setRequestHeader("Accept", "application/json");
        xhr.setRequestHeader("Access-Control-Allow-Origin", "http://localhost");
        xhr.send();
    }


</script>
</html>


