<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>test-showpic</title>
</head>
<body>
<img src="../upload/1.jpg" onclick="test(1)"/>
<img src="./upload/2.jpg" onclick="test(2)"/>
<img src="././5.jpg" onclick="test(3)"/>
</body>
<script>
    function test(x) {
        var xhr = new XMLHttpRequest();
        xhr.open('GET','/api?delete=' + x, false);
        xhr.onreadystatechange = function() {
            if (xhr.readyState == 4 && xhr.status == 200) {
                console.log('success');
            }
        }
        xhr.setRequestHeader("Content-Type", "application/json ;charset=utf-8");
        xhr.setRequestHeader("Accept", "application/json");
        xhr.setRequestHeader("Access-Control-Allow-Origin", "http://localhost");
        xhr.send();
    }
</script>
</html>